<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">    
        <title>Document</title>
    </head>
    
    <body>
        <h1>Here is the list of users:</h1>
        {% if users %}

        <ol>
            {% for user in users %}
            <li>User Info</li>
            <ul>
                <li>First Name: {{ user.first_name }}</li>
                <li>Last Name: {{ user.last_name }}</li>
                <li>Email: {{ user.email }}</li>
            </ul>
            {% endfor %}
        </ol>

        {% else %}
            <p>No records found</p>
        {% endif %}
    </body>
</html>